<div class="container">
    <div class="top-bar">
        <a class="logo" href="./">
            <img src="./assets/img/logo.svg" alt="grocerymart" class="icon logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <div class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">
                        Departments
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-act__btn top-act__btn--single">
                    <img src="./assets/icon/find.svg" alt="find" class="icon top-act__icon" />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="./assets/icon/love.svg" alt="love" class="icon top-act__icon" />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img src="./assets/icon/buy.svg" alt="buy" class="icon top-act__icon" />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img src="./assets/img/uifaces-human-avatar.jpg" alt="avatar" class="top-act__avatar" />
            </div>
        </div>
    </div>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Favicon -->
    <link rel="stylesheet" href="./assets/favicon/" />
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png" />
    <link rel="manifest" href="./assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="./assets/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- font-text -->
    <link rel="stylesheet" href="./assets/gorditaFont/stylesheet.css" />

    <!-- style -->
    <link rel="stylesheet" href="./assets/css/main.css" />

    <script src="./assets/js/javsScript.js"></script>
</head>

<body>

    <header id="header" class="header"></header>
    <script>
        load("#header", "./template/header.html");
    </script>

    <div class="container">
        <h2><a href="./contact.html">home</a></h2>

        <footer id="footer"></footer>
        <script>
            load("#footer", "./template/footer.html")
        </script>
    </div>
</body>

</html>