<div class="container">
    <div class="top-bar">
        <a class="logo" href="./">
            <img src="./assets/img/logo.svg" alt="grocerymart" class="logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <div class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">
                        Departments
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img src="./assets/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-act__btn top-act__btn--single">
                    <img src="./assets/icon/find.svg" alt="find" class="icon top-act__icon" />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="./assets/icon/love.svg" alt="love" class="icon top-act__icon" />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img src="./assets/icon/buy.svg" alt="buy" class="icon top-act__icon" />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img src="./assets/img/uifaces-human-avatar.jpg" alt="avatar" class="top-act__avatar" />
            </div>
        </div>
    </div>
</div>