html {
    --text-color: #162d2e;
    --icon-filter: brightness(0) saturate(100%) invert(6%) sepia(25%)
        saturate(3830%) hue-rotate(229deg) brightness(97%) contrast(93%);

    --header-bg-color: #eee;
    --top-act-bg-color: #fff;
    --top-act-shadow-color: rgba(0, 0, 0, 0.08);
    --top-act-separate-color: #ededf6;

    --body-bg-color: #f6f6f6;
}
