.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    &__img {
        filter: none;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
    }
}
