*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1a162e;
    --icon-filter: brightness(0) saturate(100%) invert(6%) sepia(25%)
        saturate(3830%) hue-rotate(229deg) brightness(97%) contrast(93%);
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", sans-serif;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    border: none;
    outline: none;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-filter);
}
