*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", sans-serif;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    border: none;
    outline: none;
    background-color: var(--body-bg-color);
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-filter);
}
