@use "sass:math";
@use "sass:map";

// brake points, dimensions
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1370px,
);

$grid-columns: 12;
$grid-gutter-width: 30px;
$gutters: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

.container {
    @extend .container-fluid;
}

.row {
    display: flex;
    margin-top: calc(var(--grid-gutter-y) * -1);
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);

    &[class*="row-cols-"] > * {
        flex: 0 0 auto;
    }

    > * {
        margin-top: var(--grid-gutter-y);
        @extend %gutter-padding;
    }
}

.col {
    flex: 1 0;
    @extend %gutter-padding;
}

@mixin make-media-query($dimension, $bypass) {
    @if $bypass {
        @media (min-width: $dimension) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin make-row-columns($infix) {
    @for $i from 1 through $grid-columns * 0.5 {
        .row-cols#{$infix}-#{$i} > * {
            width: math.div(100%, $i);
        }
    }
}

@mixin make-columns($infix) {
    @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
            width: math.div(100%, 12) * $i;
        }
    }
}

@mixin make-offset($infix) {
    @for $i from 1 through $grid-columns {
        .offset#{$infix}-#{$i} {
            margin-left: math.div(100%, 12) * $i;
        }
    }
}

@mixin make-gutter($infix) {
    @each $i, $ratio in $gutters {
        .g#{$infix}-#{$i},
        .gx#{$infix}-#{$i} {
            --grid-gutter-x: #{$grid-gutter-width * $ratio};
        }
        .g#{$infix}-#{$i},
        .gy#{$infix}-#{$i} {
            --grid-gutter-y: #{$grid-gutter-width * $ratio};
        }
    }
}

@each $breakpoint, $dimension in $breakpoints {
    $max-width: map.get($container-max-widths, $breakpoint);
    $infix: if($breakpoint == xs, "", "-#{$breakpoint}");
    $bypass: if($breakpoint == xs, false, true);

    @include make-media-query($dimension, $bypass) {
        .container {
            width: $max-width;
        }
        @include make-row-columns($infix);
        @include make-columns($infix);
        @include make-offset($infix);
        @include make-gutter($infix);
    }
}
